header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li {
      display: inline-block;
      margin-right: 1.5rem;
    }
  
    .logo {
      font-size: 2rem;
      margin: 0;
  
      a {
        color: white;
        text-decoration: none;
        border-bottom: none;
      }
    }
}  

.posts, .post, .page {

    text-align: left;

    h2 {
        text-align: center;
    }

    h3 {
        text-align: left
    }

    a {
        text-align: left;
    }

    li {
        list-style-type: none;
    }
}
