body {
    color: #FFF !important;
    background-color: #000  !important;
}

a {
    color: #FFF !important;
}

a:hover {
    color: #FFF !important;
}


.display-none * {
    display: none !important;
}
