<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="{{ config.extra.author.name }}">
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>

        <link rel="stylesheet" href="{{ get_url(path='hallo.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
        <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoiZHJubWVlaGFuIiwiYSI6ImNscnlvaWJycDFqd20yaW82NGp0aHhpcjYifQ.3l9s3Mp0beBrQLWdtkv00w';
            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/dark-v11',
                center: [99.8138283, 10.1134533],
                zoom: 8
            });
            const marker = new mapboxgl.Marker({ color: 'blue'})
            .setLngLat(99.8138283, 10.1134533)
            .addTo(map);
        </script>
        
        <script>
            if (window.netlifyIdentity) {
              window.netlifyIdentity.on("init", user => {
                if (!user) {
                  window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                  });
                }
              });
            }
          </script>
    </head>
    <body>

      <div class="container">
        {% block header %}
        {% include "header.html" %}
        {% endblock header %}
  
          <main>
              <div class="column left">
                  {% block content %}
                  {% endblock %}
              </div>
              {%include "footer.html" %}
          </main>
      </div>
    </body>
</html>
