
{% extends "base.html" %}

<title>{% block title %}{{ section.title }} - {{ config.title }}{% endblock title %}</title>

{% block content %}

<div class="posts">

  <h2>{{ section.title }}</h2>
 
 {% for year, posts in section.pages | group_by(attribute="year") %}
     <h3>{{ year }}</h3>
 
     <ul>
         {% for post in posts %}
             <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
         {% endfor %}
     </ul>
  {% endfor %}


</div>

<div class="other">
    <h3>Other Content</h3>
    <ul>
        <li><a href="{{ get_url(path='@/dives/_index.md') }}">Dives</a></li>
        <li><a href="{{ get_url(path='@/posts/_index.md') }}">Posts</a></li>
    </ul>
</div>

{% endblock content %}
