{% extends "base.html" %}

{% block content %}

<div class="dive">
  <h2 class="title">
    {{ section.title }}
</h2>

<table>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for dive in section.pages %} 
      <tr>
       <th scope="row">
        <a href="{{ dive.permalink }}">{{ dive.title }}</a>
        <p>📅 {{ dive.date | date(format="%Y-%m-%d") }}</p>
       </th>
        <td><img width="300" height="200" src="https://picsum.photos/300/200" class="dive-featured-image"/></td>
        <td>
            <div class="dive-summary">
                <p>🏝️ {{ dive.extra.site }}</p>
                <p>👀 {{ dive.extra.visibility }} metres</p>
                <p>⏱️ {{ dive.extra.duration }} minutes</p>
                <p>📐 {{ dive.extra.depth }} metres</p>
            </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock content %}

{% include "footer.html" %}
