{% extends "base.html" %}

{% block content %}

<h1 class="title">
    {{ section.title }}
 </h1>

<table>
    <caption>
      Darren Meehan's Scuba Dive Logs
    </caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">🏝️ Site</th>
        <th scope="col">⏱️ Duration</th>
        <th scope="col">📅 Date</th>
        <th scope="col">👀 Visibility</th>
        <th scope="col">⏱️ Depth</th>
        <th scope="col">🐟 Fish ID</th>
      </tr>
    </thead>
    <tbody>
    {% for dive in section.pages %} 
      <tr>
       <th scope="row">{{ dive.title }}</th>
        <td>{{ dive.extra.site }}</td>
        <td>{{ dive.extra.duration }}</td>
        <td>{{ dive.date | date(format="%A %Y-%m-%d") }}</td>
        <td>{{ dive.extra.visibility }}</td>
        <td>{{ dive.extra.depth }}</td>
        <td>Not added yet</td>
      </tr>
    {% endfor %}
    </tbody>
</table>

{% for dive in section.pages %}
  <div class="dive-summary">
    <p>📅 {{ dive.date | date(format="%A %Y-%m-%d") }}</p>
    <p>🏝️ {{ dive.extra.site }}</p>
    <p>👀 {{ dive.extra.visibility }} metres</p>
    <p>⏱️ {{ dive.extra.duration }} minutes</p>
    <p>📐 {{ dive.extra.depth }} metres</p>
    <p>🧑‍🤝‍🧑 Sinéad</p>
    <p>🛒 <a href="{{ dive.extra.dive_centre_website }}" title="{{ dive.extra.dive_centre }}">{{ dive.extra.dive_centre }}</a></p>
    <p><a href="{{ dive.permalink }}">{{ dive.title }}</a></p>
</div>

{% endfor %}

{% endblock content %}

<div class="column left portrait-blog-post">
  <img src="{{ get_url(path='images/portrait.jpg') }}" class="portrait" alt="Portrait of Darren Meehan" />
</div>

{% if config.extra.links %}
<div class="links">
    <h3>Where to find me</h3>
    {% for link in config.extra.links %}
        <a rel="me" href="{{ link.url }}" title="{{ link.title }}">
            {% if link.iconset %}
                <span class="{{ link.iconset }} {{ 'fa-' ~ link.icon }}"></span>
            {% else %}
                <span class="fab {{ 'fa-' ~ link.icon }}"></span>
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endif %}
