{% extends "base.html" %}

<title>{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}</title>

{% block content %}
<h1 class="title-blog-post">🤿 {{ page.title }}</h1>

<div class="dive-summary">
<p>🧑‍🤝‍🧑 Sinéad was my dive buddy</p>
<p>📅 We dove on {{ page.date | date(format="%A %Y-%m-%d") }}</p>
<p>🏝️ We dove at {{ page.extra.site }}</p>
<p>👀 We could see for about {{ page.extra.visibility }} metres</p>
<p>⏱️ We were below the surface for {{ page.extra.duration }} minutes</p>
<p>📐 We swam at a max depth of {{ page.extra.depth }} metres</p>
<p>🛒 We dove with <a href="{{ page.extra.dive_centre_website }}" title="{{ page.extra.dive_centre }}">{{ page.extra.dive_centre }}</a></p>

<h3>Notes</h3>
<p>{{ page.content | safe }}</p>
</div>

<div id="map" style="width: 400px; height: 400px;"></div>

{% endblock content %}

{% include "footer.html" %}

<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiZHJubWVlaGFuIiwiYSI6ImNscnlvaWJycDFqd20yaW82NGp0aHhpcjYifQ.3l9s3Mp0beBrQLWdtkv00w';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/dark-v11',
        center: [99.8138283, 10.1134533],
        zoom: 8
    });
    const marker = new mapboxgl.Marker({ color: 'blue'})
    .setLngLat(99.8138283, 10.1134533)
    .addTo(map);
</script>
