{% extends "base.html" %}

<title>{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}</title>

{% block content %}

<div class="dive">

    <h2 class="title-blog-post">🤿 {{ page.title }}</h2>

      {% if page.extra.images %}
        {% for image in page.extra.images %}
          <div class="background-picture">   
            <picture>
              <source type="image/jpeg" srcset="{{ image }}">
              <img src="{{ image }}" alt="Photo of scuba diver underwater" width="960" height="640">
            </picture>
          </div> 
        {%- endfor %}
      {% endif %}

    <div class="dive-summary">
    <p>🧑‍🤝‍🧑 Sinéad was my dive buddy</p>
    <p>📅 We dove on {{ page.date | date(format="%A %Y-%m-%d") }}</p>
    <p>🏝️ We dove at {{ page.extra.site }}</p>
    <p>👀 We could see for about {{ page.extra.visibility }} metres</p>
    <p>⏱️ We were below the surface for {{ page.extra.duration }} minutes</p>
    <p>📐 We swam at a max depth of {{ page.extra.depth }} metres</p>
    <p>🛒 We dove with <a href="{{ page.extra.dive_centre_website }}" title="{{ page.extra.dive_centre }}">{{ page.extra.dive_centre }}</a></p>
    
    <h3>Notes</h3>
    <p>{{ page.content | safe }}</p>
    </div>
    
</div>

{% endblock content %}

{% include "footer.html" %}
