{% extends "base.html" %}

{% block content %}
<h1 class="title-blog-post">{{ page.title }}</h1>
<p class="subtitle-blog-post"><strong>{{ page.date }}</strong></p>
<div class="content-blog-post">
    {{ page.content | safe }}
</div>

<div class="dive-site">
    <h3>Dive Site</h3>
    <p>{{ page.extra.site }}</p>
    <h2>Location</h2>
    <p>{{ page.extra.location }}</p>
</div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiZHJubWVlaGFuIiwiYSI6ImNscnlvaWJycDFqd20yaW82NGp0aHhpcjYifQ.3l9s3Mp0beBrQLWdtkv00w';
    const map = new mapboxgl.Map({
        container: 'map',
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/dark-v11',
        center: [12.550343, 55.665957],
        zoom: 8
    });
    // Create a default Marker and add it to the map.
    const marker1 = new mapboxgl.Marker()
    .setLngLat([12.554729, 55.70651])
    .addTo(map);
    // Create a default Marker, colored black, rotated 45 degrees.
    const marker2 = new mapboxgl.Marker({ color: 'black', rotation: 45 })
    .setLngLat([12.65147, 55.608166])
    .addTo(map);
</script>

<div class="dive-depth">
    <h2>Depth</h2>
    <p>{{ page.extra.depth }} metres</p>
</div>
<div class="dive-visibility">
    <h2>Visibility</h2>
    <p>{{ page.extra.visibility }} metres</p>
</div>
<div class="dive-duration">
    <h2>Duration</h2>
    <p>{{ page.extra.duration }} minutes</p>
</div>
<div class="dive-shop">
    <h2>Dive Centre</h2>
    <a href="{{ page.extra.dive_centre_website }}" title="{{ page.extra.dive_centre }}">{{ page.extra.dive_centre }}</a>
</div>
{% endblock content %}

<div class="column left portrait-blog-post">
  <img src="{{ get_url(path='images/portrait.jpg') }}" class="portrait" alt="Portrait of Darren Meehan" />
</div>

{% if config.extra.links %}
<div class="links">
    <h3>Where to find me</h3>
    {% for link in config.extra.links %}
        <a rel="me" href="{{ link.url }}" title="{{ link.title }}">
            {% if link.iconset %}
                <span class="{{ link.iconset }} {{ 'fa-' ~ link.icon }}"></span>
            {% else %}
                <span class="fab {{ 'fa-' ~ link.icon }}"></span>
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endif %}
