<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ config.title }}</title>

        <link rel="stylesheet" href="{{ get_url(path='hallo.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <script>
            if (window.netlifyIdentity) {
              window.netlifyIdentity.on("init", user => {
                if (!user) {
                  window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                  });
                }
              });
            }
          </script>
    </head>
    <body>

        <div class="container">

            {% block header %}
            {% include "header.html" %}
            {% endblock header %}
      
            <main>
                <div class="portrait-frame">
                    <img src="{{ get_url(path='images/portrait.jpg') }}" class="portrait" alt="Portrait" />
                </div>
                <div class="column right">
                    <h1 id="welcome">{{ config.extra.greeting | default(value="Hello") }}</h1>
                    <p class="home-bio">{{ section.content | safe }}</p>
    
                    {% if config.extra.links %}
                        <div class="links">
                            {% for link in config.extra.links %}
                                <a rel="me" href="{{ link.url }}" title="{{ link.title }}">
                                    {% if link.iconset %}
                                        <span class="{{ link.iconset }} {{ 'fa-' ~ link.icon }}"></span>
                                    {% else %}
                                        <span class="fab {{ 'fa-' ~ link.icon }}"></span>
                                    {% endif %}
                                </a>
                            {% endfor %}
                            <link rel="authorization_endpoint" href="https://indieauth.com/auth">
                            <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
                            <link rel="microsub" href="https://aperture.p3k.io/microsub/917">
    
                        </div>
                    {% endif %}
    
                    <div class="display-none h-card">
                        <span style="display: none;" class="p-name">Darren Meehan</span>
                        <span style="display: none;" class="p-honorific-prefix">Mr.</span>
                        <span style="display: none;" class="p-given-name">Darren</span>
                        <span style="display: none;" class="p-family-name">Meehan</span>
                        <img style="display: none;" class="u-photo" src="{{ get_url(path='images/portrait.jpg') }}"/>
                        <a style="display: none;" class="u-url" href="https://drn.ie">w</a>
                        <a style="display: none;" class="u-email" href="mailto:hi@drn.ie">e</a>
                        <div style="display: none;" class="p-country-name">Ireland</div>
                        <div style="display: none;" class="p-category">Software Engineer</div>
                        <div style="display: none;" class="p-note">Honeymooning.</div>
                        <div style="display: none;" class="p-gender-identity">Male</div>
                        <div style="display: none;" class="p-sex">Male</div>
                    </div>

                    <script>
                        let welcomes = ["Hello!", "Hi!", "Hey!", "Howdy!", "Welcome!", "Greetings!", "Salutations!", "Good day!", "Good morrow", "Yo!", "Sup?!", "What's up?!", "How's it going?!", "How are you?", "What's happening?", "What's new?", "What's the craic?!", "What's the story?!"];
                        document.getElementById("welcome").textContent = welcomes[Math.floor(Math.random() * welcomes.length)];
                    </script>
                </div>
            </main>
        </div>

    </body>
</html>
